
body {
	line-height: 1.4;
	font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1px;
    font-size: 14px;
	font-weight: 300;
}


.accordion {
    background-color: #eee;
    color: blue;
    cursor: pointer;
    padding: 25px;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
    text-decoration-line: underline;
    font-size: 25px;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}